body {
    background: #222629;
    font-family: helvetica, sans-serif;
}

footer {
    background: #474B4F;
    font-family: helvetica, sans-serif;
    color: #ffffff;
    padding: 20px;
}

footer a {
    color: #86C232;
}

h1, p {
    color: #ffffff;
}

h2 {
    color: #6B6E70;
}

.art-container {
  /*  margin: 50px auto; */
    width: 500px;
    position: relative;
}

.art-picture {
    background: #000000;
    top: 58px;
    /* bottom: 75px;*/
    right: 138px;
    left: 121px;
    overflow-x: hidden; 
    overflow-y: hidden; 
    position: absolute;
}

.art-quiz {
    display: flex;    
    justify-content: left;
    width: 500px;
    align-items: center;
    margin: 5px;
}

.art-container:hover {
    cursor: grab;
}

.art-picture:hover {
    cursor: grabbing;
}

.art-quiz li {
    list-style: none;
    cursor: grab;
    text-align: center;
    width: 25px;
    padding: 5px;
    margin: 10px;
    color: #61892F;
    background-color: #86C232;


}

img {
    max-width: 100%;
    height: auto;
    transition: 2s ease-in-out;
}